@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

.header {
  background-image: url('../images/headerback.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.overlay {
  /* position: absolute; */
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0);
}
.description {
  position: absolute;
  top: 30%;
  margin: auto;
  padding-left: 20em;
  /* padding: 2em; */
}
.description h1 {
  /* color: #f97300; */
  color: white;
}
.description p {
  color: #666;
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}
.description button {
  border: 1px solid #f97300;
  background: #f97300;
  color: #fff;
}
